@import "bootstrap/dist/css/bootstrap";
@import "font-awesome";

.search-area {
    padding-top: 50px;
}
.some-right-padding {
    padding-right: 5px !important;

}

.no-left-padding {
    padding-left: 0px !important;

}
.stock-info {
    display: inline-block;
}